<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Pokemon Colors</title>
  <link rel='stylesheet' type='text/css' href='css/main.css'>
</head>
<body>

  <div ng-app='myApp' ng-controller='appCtrl'>
    <select ng-model="colorIndex" ng-change='getItemByColor(colorIndex);'>
      <option></option>
      <option value='1'>black</option>
      <option value='2'>blue</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>green</option>
      <option value='6'>pink</option>
    </select>
    <h1 class='capitalize'>{{ list.name }}</h1>
    <div class='pokemon-div'>
      <spna ng-repeat='image in imageList' class='pokemon-pic'>
        <img ng-src='{{ image.url }}' />
        <p>{{ image.name }}</p>
      </div>
    </div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
  <script src='javascript/app.js'></script>
</body>
</html>
